@import "variables.css";
@import "inputs.css";

.label {
    -fx-text-fill: -fx-surface-800;
    -fx-font-family: "Montserrat", sans-serif;

}

.sidebar__button {
    -fx-text-overrun: clip;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 13px;
    -fx-text-fill: -fx-surface-600;
}

.sidebar__button:hover {
    -fx-translate-x: 5px;
    -fx-background-color: #e7ecef;
}

.sidebar__button--closed:hover {
    -fx-translate-x: 0px;
    -fx-translate-y: -3px;
}




#sidebarContainer {
    -fx-background-color: -fx-surface-0;
    -fx-font-family: "Montserrat", sans-serif;
}

#userName, #userType {
    -fx-font-family: "Montserrat", sans-serif;
}

#userType {
    -fx-font-weight: 900;
    -fx-text-fill: -fx-primary-dark;
}

#btnToggle {
    -fx-background-color: #e7ecef;
    -fx-background-radius: 50%;
}

#btnToggle:hover {
    -fx-background-color: #f1f5f8;
}


#pageName {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-text-fill: -fx-surface-900;
}

#pageDescription {
    -fx-text-fill: -fx-surface-900;
}


.button {
    -fx-cursor: hand;
}

#header {
    -fx-padding: 20px;
    -fx-background-radius: 10px;
}

.pageContent {
    -fx-padding: 0 0 0 20px;
}

.scroll-bar {
    -fx-opacity: 1.0;
}

.scroll-bar .thumb {
    -fx-opacity: 0.5;
    -fx-background-color: #464c50;
}

.scroll-bar:vertical {
    -fx-min-width: 10px;
    -fx-pref-width: 10px;
    -fx-max-width: 10px;
    -fx-padding: 1;

    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0.3em;
}

.sidebar__button--active {
    -fx-text-fill: -fx-primary-dark;
}

/* BUTTON STYLES  */
.btn--primary, .btn--secondary {
    -fx-background-color: -fx-primary-dark;
    -fx-text-fill: -fx-surface-0;
    -fx-font-weight: 700;
    -fx-padding: 6px;
    -fx-background-radius: 5px;
}

.btn--secondary {
    -fx-background-color: -fx-primary-light-2;
}

.btn--refresh {
    -fx-text-fill: -fx-surface-500;
    -fx-background-color: transparent;
}

.btn--refresh:hover {
    -fx-underline: true;
    -fx-text-fill: -fx-primary-dark;
}

/* REUSABLE PAGE STYLES */

.label-status {
    -fx-text-fill: -fx-surface-700;
    -fx-font-weight: 700;
}

.label-status--active {
    -fx-text-fill: -fx-primary-light;
}

.label-status--inactive {
    -fx-text-fill: -fx-surface-900;
}

.input__text--search {
    -fx-border-color: -fx-surface-100;
}

.input__text--search:focused {
    -fx-border-color: -fx-primary-dark;
}



/* LOGIN STYLES */

#login__container {
    -fx-background-color: -fx-surface-0;
}

#login__title {
    -fx-font-size: 34px;
    -fx-text-fill: -fx-primary-dark;
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: 900;
}

#login__instructions {
    -fx-text-fill: -fx-surface-700;
    -fx-font-size: 13px;
    -fx-font-weight: 600;
}

.input__label--login {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-surface-600;
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: 900;
}

.input__text--login {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-padding: 12px 10px;
}

#login__button {
    -fx-background-color: -fx-primary-light-2;
    -fx-background-radius: 5px;
    -fx-padding: 12px 38px;
    -fx-text-fill: -fx-surface-0;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

#login__error {
    -fx-text-fill: -fx-error-color;
}

#login__password-toggle {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

