/* INPUT STYLES */

.combo-box {
  -fx-prompt-text-fill: $surface-300;
  -fx-cursor: hand;
}

.input__text {
  -fx-border-color: $surface-200;
  -fx-border-style: solid;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-padding: 6px;
  -fx-prompt-text-fill: $surface-300;
  -fx-background-color: $surface-0;
  -fx-font-size: 12px;
  -fx-text-fill: $surface-800;

  &:focused {
    -fx-border-color: $primary-light;
    -fx-border-opacity: 0.5;
  }
}
