/* INPUT STYLES */

.combo-box {
  -fx-prompt-text-fill: $surface-300;
  -fx-cursor: hand;
}

.input__text {
  -fx-border-color: $surface-200;
  -fx-border-style: solid;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-padding: 6px;
  -fx-prompt-text-fill: $surface-300;
  -fx-background-color: $surface-0;
  -fx-font-size: 12px;
  -fx-text-fill: $surface-800;

  &--slim {
    -fx-padding: 2px !important;
  }

  &:focused {
    -fx-border-color: $primary-light;
    -fx-border-opacity: 0.5;
  }
}

.input__label--desc {
    -fx-font-family: $poppins !important;
    -fx-font-size: 11px;

}


.text-area:focused {
    -fx-background-color: transparent, transparent, transparent;
}

.text-area .viewport, .date-picker > .text-field, .date-picker > .button{
    -fx-background-color: transparent;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: #BCC3CD;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent !important;
}


/* Garante que o conteúdo interno não tenha bordas extras */
.text-area .content {
    -fx-background-color: transparent;
}