.container {
  -fx-background-color: $card-background;
  -fx-border-color: $surface-100;
  -fx-border-style: solid;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-cursor: hand;

  &:hover {
    -fx-translate-y: -2px;
  }
}

.status-label {
  -fx-font-size: 11px;
  -fx-text-fill: $surface-0;
  -fx-background-color: $primary-light;
  -fx-padding: 5px 7px;
  -fx-background-radius: 100px;
  -fx-border-radius: 100px;
  -fx-font-weight: 700;
}

.status-label--inactive {
  -fx-text-fill: $surface-0;
  -fx-background-color: $surface-200;
}

.btn-edit {
  -fx-background-color: transparent;
  -fx-background-radius: 10px;
  -fx-border-style: solid;
  -fx-border-color: $surface-200;
  -fx-border-radius: 5px;
  -fx-text-fill: $surface-0;

  &:hover {
    -fx-translate-y: 2px;
  }
}
