.product {
    &__name {
        -fx-font-size: 18px;
        -fx-font-family: $montserrat;
        -fx-text-fill: $surface-800;
    }

    &__type {
        -fx-font-family: $poppins-italic;
        -fx-text-fill: $surface-300;
    }

    &__price {
        -fx-font-size: 24px;
        -fx-text-fill: $surface-700;
    }


    &__btn {
        -fx-border-color: $surface-200;
        -fx-border: solid;
        -fx-border-radius: 5px;
        -fx-padding: 20px;

        &:hover {
           -fx-translate-y: -2px;
        }
    }

    &__supplier {
        -fx-text-fill: $surface-300;
        -fx-font-family: $poppins;
    }
}
