@font-face {
  -fx-font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  -fx-font-family: "Poppins";
  src: url("../../../fonts/Poppins-Regular.ttf");
}

@font-face {
  -fx-font-family: "Sofia Sans Condensed";
  src: url("../../../fonts/SofiaSansCondensed-Regular.ttf");
}
