/* VARIÁVEIS */

$surface-0: #ffffff;
$surface-50: #f7f8f9;
$surface-100: #dadee3;
$surface-200: #bcc3cd;
$surface-300: #9fa9b7;
$surface-400: #818ea1;
$surface-500: #64748b;
$surface-600: #556376;
$surface-700: #465161;
$surface-800: #37404c;
$surface-900: #282e38;
$surface-1000: #000000;

$primary-dark: #204af4;
$primary-light: #07b0f3;
$primary-light-2: #2fb0f2;

$card-background: #f7f8f9;

$error-color: #E14B50;

// ESPECIFIC COLORS
$blue: #07b0f3;
$light-blue: #DCF4FD;

$gray: #9FA9B7;
$light-gray: #F1F2F4;

$black: #282E38;
$light-black: #D1D3D5;

$yellow: #FFB700;
$light-yellow: #FFF4D8;

$pink: #FF497D;
$light-pink: #FFD8E3;

$purple: #8649FF;
$light-purple: #E5D8FF;

$orange: #FF6F00;
$light-orange: #FFEAD9;

$green: #4FE481;
$light-green: #DFFFEA;

$red: #E14B50;
$light-red: #FFE6E7;




$poppins: "Poppins Regular", sans-serif;
$poppins-italic: "Poppins Italic", sans-serif;
$montserrat: "Montserrat Bold", sans-serif;
$sofia: "Sofia Sans Condensed Regular", sans-serif;
$sofia-bold: "Sofia Sans Condensed Bold", sans-serif;

.root {
    -fx-font-family: $poppins;
}
